<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-language" content="zh-TW" />
    <title th:text="${title}"></title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <p th:utext="${content}"></p>
    <a th:href="@{${id-1}}">上一页</a>
    <a th:href="@{${id+1}}">下一页</a>
</body>
</html>